@{
  Layout = "_Layout";
}

@section Css{
    <link rel="stylesheet" href="~/styles.css" />
     <link rel="stylesheet" href="~/style-payment-success.css" />
    <link rel="stylesheet" href="_responsive.css" />
}

<div class="payment-success">
      <div class="container">
        <div class="page-title">
          <i class="icon-success"></i
          ><span style="font-size: 22px">ĐẶT HÀNG HOÀN TẤT</span>
        </div>
        <div class="page-content">
          <h6 class="page-description" style="border-bottom: none">
            <b>BÉ XINH </b>
            sẽ liên hệ bạn qua số điện thoại
            <span style="font-size: 16px">21321321</span> và email (nếu có) để
            xác nhận đơn hàng sớm nhất có thể.
          </h6>
        </div>
        <div class="order-info">
          <div class="title-sm">
            <h4 style="margin: 10px 0px">
              <b>Thông tin đơn hàng:</b>
            </h4>
          </div>
          <div class="info-detail">
            <h6><u>Mã đơn hàng:</u>&nbsp;&nbsp; <a href="#">#195908</a></h6>
            <h6>
              <u>Link đơn hàng:</u>&nbsp;
              <a href="#"
                ></a
              >
            </h6>
            <h6>
              <span style="font-style: italic">
                (Mẹo: Nếu chưa đăng nhập hãy lưu link để xem lại đơn hàng nếu
                cần.)
              </span>
            </h6>
          </div>
        </div>
          <div class="payment-success-contact">
            <h6>
              Nếu có bất kỳ thắc mắc gì, vui lòng liên hệ
              <span style="font-size: 16px">1900 636100</span>để được hỗ trợ.
            </h6>
            <h6>Cám ơn Quý khách đã mua hàng !</h6>
            <div class="logo-image">
              <img src="images/LogoWhite-bg.png" alt="Logo" />
            </div>
          </div>
          <div class="continue">
            <a href="/" class="btn-pink">Tiếp tục</a>
          </div>
        </div>
      </div>
    </div>