/*===============  1. RESET CSS ==============*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style: none;
}

/*===============  2. DEFAULT STYLE ==============*/

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444;
  background-color: #fff;
}

p {
  font-size: 14px;
  color: #5e629c;
  line-height: 26px;
  margin-bottom: 0;
}

a:hover,
a:focus {
  color: #000;
}

.text-center {
  text-align: center;
}

.container {
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.float-right {
  position: relative;
  float: right;
}

.col-1 {
  flex: 8.33%;
  max-width: 8.33%;
}

.col-2 {
  flex: 16.66%;
  max-width: 16.66%;
}

.col-3 {
  flex: 25%;
  max-width: 25%;
}

.col-4 {
  flex: 33%;
  max-width: 33%;
}

.col-6 {
  flex: calc(100% / 12 * 6);
  max-width: calc(100% / 12 * 6);
}

.col-8 {
  flex: calc(100% / 12 * 8);
  max-width: calc(100% / 12 * 8);
}

.col-12 {
  flex: calc(100% / 12 * 12);
  max-width: calc(100% / 12 * 12);
}

b,
strong,
strong *,
b * {
  font-weight: bold;
}
div {
  display: block;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

P {
  font-size: 14px;
  line-height: 22px;
}

h2 {
  font-size: 36px;
  line-height: 58px;
}

h3 {
  font-size: 28px;
  line-height: 45px;
}

h4 {
  font-size: 20px;
  line-height: 22px;
}

h5 {
  font-size: 16px;
  line-height: 22px;
}

h6 {
  font-size: 14px;
  line-height: 14px;
}

img {
  max-width: 100%;
  transition: all ease-in-out;
}

.float-left {
  float: left;
}

.space-between {
  justify-content: space-between;
  align-items: center;
}

.btn {
  color: #fff;
  font-size: 14px;
  padding: 10px 23px;
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 4px;
  letter-spacing: 1px;
  font-weight: 500;
  border: none;
  text-transform: uppercase;
}

/*===============  3.Nav ==============*/

.nav {
  background-color: #f5447b;
  max-width: 100%;
  height: 56px;
  padding: 5px;
  position: relative;
}

.nav .logo {
  font-size: 2.25rem;
  font-weight: 400px;
  color: #ffffff;
  float: left;
}

.nav .logo-image {
  background-color: #ffffff;
}

.menu__list {
  display: flex;
  padding: 10px 10px;
}

.menu__list .menu__item {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  padding: 0px 12px;
}

.menu__list .menu__item .item__link {
  display: block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500px;
}

.menu .search-container {
  float: left;
  border-radius: 50%;
}

input[type="text"] {
  padding: 6px;
  font-size: 17px;
  border: none;
  border-radius: 10px;
  outline: none;
}

.search-container button {
  position: absolute;
  float: right;
  padding: 6px 10px;
  z-index: 999;
  margin-left: -50px;
  margin-right: 16px;
  background: #ffffff;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-top: 0px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 7px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  height: 220px;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.dropdown-image {
  position: relative;
  bottom: 165px;
  left: 100px;
  width: 60%;
  display: block;
}

.cart-total {
  font-size: 18px;
  font-weight: 700;
  width: 25px;
  overflow: hidden;
  height: 22px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-color: red;
  text-align: center;
  padding-top: 3px;
  top: 0;
  z-index: 999;
  position: absolute;
  right: 19px;
  color: white;
}
/*-------------------Header--------------------------------------*/

.header {
  background-color: #ffffff;
}

.header .phone {
  padding: 8px 0 8px 38px;
  background: url(images/phone-black.png) 20px 10px no-repeat;
  background-size: 15px;
  width: 100px;
  color: gray;
  line-height: 20px;
}

.header .welcome {
  margin-left: auto;
  padding-right: 10px;
}

.header .love {
  position: relative;
  left: 750px;
}

.wish-details {
  border: none !important;
  background: url(images/love.png) no-repeat !important;
  background-position: 5px 3px !important;
  border-radius: 10 !important;
  box-shadow: none !important;
  font-weight: normal !important;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  font-size: 11px !important;
  color: gray !important;
}

a.wish-details {
  padding: 5px 25px;
  left: 10px;
  top: 10px;
  width: auto;
  cursor: pointer;
  margin-left: auto;
}

/*--------------------Banner-----------------------*/

.banner {
  background-color: white;
  overflow: hidden;
  width: 85%;
  margin: 45px auto 35px auto;
  border-radius: 0%;
}
.adverts {
  line-height: 20px;
  color: #444;
}

.adverts-item {
  margin-top: 20px;
  margin-bottom: 20px;
  border-left: 1px solid #bfbfbf;
  text-align: center;
}

.text-advert-header {
  margin: 0;
  color: #000;
}

.text-advert-subheader {
  color: #9e9898;
  font-size: 12px;
}

.adverts-item span {
  width: 100%;
  display: inline-block;
  padding: 0;
}

.adverts-item:first-child {
  border-left: none;
}

/*----------------------------Hot Product-----------------------------*/

.hot-product {
  background-color: white;
  overflow: hidden;
  width: 85%;
  margin: 85px auto 35px auto;
  border-radius: 0%;
}

.title {
  text-align: center;
}

.title-description {
  font-weight: 400;
  margin: 0 auto !important;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 1px;
  padding: 0 0 1px 0;
  display: inline-block;
  color: #000;
  border-bottom: 2px solid #000;
}

.product {
  float: left;
  margin: 0;
  padding: 0;
  background: white;
  position: relative;
  box-sizing: border-box;
  border: 1px solid #dfdfe3;
}

.description {
  padding: 0 0 5px 0;
  border-bottom: 1px dotted #e7e7e7;
  margin: 0px 15px;
  margin-top: 25px;
  height: 40px;
  overflow: hidden;
  font-size: 14px;
}

.price {
  font-size: 13px;
  color: #e5101d !important;
  font-weight: 400;
  padding: 5px 15px 8px 15px;
}

.hot-product img {
  margin: 0px auto 0px auto;
  padding: 6px 8px;
  cursor: pointer;
  height: 277px;
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.hot-product .product-image:hover img {
  transform: scale(1.05);
  transition: all ease-in-out 0.5s;
}

/*------------------------------Category------------------------------*/
.product-category {
  background-color: white;
  overflow: hidden;
  margin: 85px auto 35px auto;
  border-radius: 0%;
  width: 85%;
}

.product-category img {
  padding: 0px 0px;
  cursor: zoom-in;
}

.category {
  display: flex;
  margin-top: 50px;
  min-height: 150px;
  text-align: center;
}

.category-image {
  padding-top: 16px;
  margin: 0 auto;
  width: 80px;
  height: 80px;
}

.category .description {
  margin-top: 25px;
  border: none;
}

.category-card {
  width: 12.4%;
  height: 148.5px;
  border: 1px solid #e2e2e2;
  background-color: #fff;
}

/*------------------------------Children fashion------------------------------*/

.children-fashion {
  background-color: white;
  overflow: hidden;
  margin: 85px auto 35px auto;
  border-radius: 0%;
  width: 85%;
}

.show-more-btn {
  clear: both;
  margin: 10px auto 40px auto;
  width: 35%;
  border-radius: 30px;
  background-color: white;
  padding: 10px;
  text-align: center;
  display: block;
  border: 1px solid #e8e8e8;
  color: #6f6c6c;
  cursor: pointer;
  outline: none;
}

.children-fashion img {
  margin: 0px auto 0px auto;
  padding: 6px 8px;
  cursor: pointer;
  height: 277px;
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.children-fashion .product-image:hover img {
  transform: scale(1.05);
  transition: all ease-in-out 0.5s;
}

/*------------------------------Popular Product------------------------------*/

.popular-product {
  overflow: hidden;
  margin: 50px auto 35px auto;
}

.popular-product .container {
  background-color: white;
  max-width: 1170px;
  margin: auto;
}

.popular-product .popular-product-description {
  font-size: 14px;
  color: white;
  padding: 10px;
  background-color: #f5447b;
}

.popular-product .popular-product-image {
  padding: 10px;
  cursor: pointer;
}

.popular-product .popular-product-image img {
  max-height: 245px;
}

.popular-product .popular-product-image img:hover {
  transform: scale(1.05);
  transition: all ease-in-out 0.5s;
}

/*------------------------------Recent Product------------------------------*/

.recent-product {
  background-color: white;
  overflow: hidden;
  margin: 85px auto 35px 20px;
  border-radius: 0%;
  border-bottom: 1px dotted #e7e7e7;
}

.recent-product img {
  max-width: 245px;
}

.recent-product .container {
  background-color: white;
  margin-left: 20px;
}

.recent-product .description {
  font-size: 14px;
  color: white;
  padding: 10px;
  background-color: #f5447b;
}

.recent-product .recent-product-image {
  padding: 10px;
  cursor: pointer;
}

.recent-product .recent-product-image img:hover {
  transform: scale(1.05);
  transition: all ease-in-out 0.5s;
}

/*------------------------------Footer------------------------------*/
.footer {
  background-color: white;
  overflow: hidden;
  width: 90%;
  margin: 85px auto 35px auto;
  border-radius: 0%;
}

.footer a {
  color: blue;
}

.footer h6 {
  line-height: 22px;
}

.footer-image {
  margin-top: 20px;
}

/*------------------------------About------------------------------*/
.about {
  background-color: white;
  overflow: hidden;
  margin: 50px auto 35px auto;
  border-radius: 0%;
  width: 90%;
}

.about a {
  color: black;
}

.about a:hover {
  text-decoration: underline;
}

.powered {
  text-align: center;
}

.about h6 {
  line-height: 22px;
}
/*------------------------------Spacing------------------------------*/
.mt-50 {
  margin-top: 50px;
}

.ml-10 {
  margin-left: 10px;
}

.fixed-center {
  margin-left: 10px;
  position: relative;
  top: -3px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.pl-15 {
  padding-left: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.mb-50 {
  margin-bottom: 50px;
}
